:root {
    --primary-color: #ededf6; /* light blueish */
    --secondary-color: #162a4b; /* navy */
    --tertiary-color: #9fcbcf; /* robin egg blue */
    --forth-color: #32353e; /* dark gray color */
    --font-family-style: Arial, Helvetica, sans-serif;

}
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
/* apply styles to <header> */
header {
    padding: 15px 20px;
    background-color: var(--forth-color);
    height: 60px;
    position: relative;
}

header h1 a {
    font-weight: bold;
    font-size: 45px;
    background-color: var(--tertiary-color);
    padding: 10px;
    justify-content: center;
    width: 400px;
    color: var(--forth-color);
    text-align: right;
    height: 34px;
    position: absolute;
}

header h1 {
    font-size: 48px;
    background-color: var(--tertiary-color);
    display: inline;
    padding: 0px 5px 0px 40px;
    margin: 0px 0px 0px -20px;
    color: var(--secondary-color);
}


header nav {
    float: right;
    padding: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 30px 30px;
    text-decoration: none;
    color: var(--tertiary-color);
    margin: 0 30px;
    font-weight: bold;
    font-size: 20px;
}

/*styles to <hero> start*/
.hero {
    background-image: url("../images/hero-back2.jpg");
    background-size: 1360px;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:400px;
    position: relative;
    width:100%;
    
}

.my-pic-container {
    display: grid;
    grid-row: 2fr;
}

.hero-subtitle {
    background-color: var(--forth-color);
    padding: 10px 10px 20px 10px;
    justify-content: center;
    width: 350px;
    color: var(--tertiary-color);
    text-align: center;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: 0px;
    margin: 0px 60px 0px 0px;
    font-size: 18px;
}

/*.my-pic-hero {
    background-image: url("../images/my-picture.jpg");
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
 }

/* styles to background */
.layout {
    background: var(--primary-color);
    height: 1045px;
}

/* styles <bio> */
.bio h2 {
    color: var(--secondary-color);
    text-align: right;
    font-size: 45px;
    margin-bottom: 35px;
    padding: 25px 25px 25px 50px;
    border-right: 3px solid;
    float:left;
    border-color: var(--forth-color);
    line-height: 1.5;
}

.bio-grid {
    flex-wrap: wrap;
    color: var(--forth-color);
    text-align: left;
    width: 65%;
    font-size: 15px;
    padding: 40px 40px 0px 20px;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(150px,1fr);
    grid-gap:10px;
    padding: 9px 40px 0px 20px;
}

/* styles work */
.work h2 {
    color: var(--secondary-color);
    text-align: left;
    font-size: 45px;
    margin-bottom: 35px;
    padding: 0px 50px 25px 42px;
    border-right: 3px solid;
    float: left;
    border-color: #3A3D46;
    line-height: 10;
}

.grid {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150px,1fr);
    grid-gap:10px;
    padding: 0px 70px 0px 20px;
}

.main-grid-item {
    border: 3px solid var(--tertiary-color);
    grid-column:span 8;
    grid-row: span 2;
    background-image: url("../images/taskmaster.jpg");
    background-size: cover;
}

.main-grid-item button {
    color: var(--forth-color);
    background-color: var(--tertiary-color);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    bottom: 20px;
    margin-top: 220px;
}

.main-grid-item:hover{
transition: 0.6s
}

.grid-item-gitItDone {
    border: 3px solid var(--tertiary-color);
    background-image: url("../images/gitItDone.jpg");
    background-size: cover;
    grid-column: span 4;
}

.grid-item-gitItDone button{
    color: var(--forth-color);
    background-color: var(--tertiary-color);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    bottom: 50px; 
    margin-top: 65px;
}

.grid-item-week5Challenge {
    border: 3px solid var(--tertiary-color);
    background-image: url("../images/week5Challenge.jpg");
    background-size: cover;
    grid-column: span 4;
}

.grid-item-week5Challenge button{
    color: var(--forth-color);
    background-color: var(--tertiary-color);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    bottom: 50px; 
    margin-top: 65px;
}

.tech {
    font-size: 10px;
}

.grid-item{
    grid-column: span 4;
    border: 3px solid var(--tertiary-color);
    display:flex;
    align-items: center;
    justify-content: center;
}

.main.grid-item {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    max-height: 100%;   
    display: block;
    transition: .2s;
}

.main-grid-item:hover {
    transform: scale(1,1)

}

/* styles to contact info */
.contact h2 {
    color: var(--secondary-color);
    text-align: right;
    font-size: 45px;
    margin-bottom: 35px;
    padding: 0px 25px 25px 10px;
    border-right: 3px solid;
    float:left;
    border-color: var(--forth-color);
    line-height: 1.2;
}

.contact-info ul li {
    display: inline;
}

.grid-container {
    display:grid;
    grid-template-columns: 30px 130px 0px 0px 0px;
    color: var(--forth-color);
    grid-gap: 150px;
    padding: 50px 100px 0px 70px;
}

/* Media query for smaller screens */

@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .work h2 {
        color: var(--forth-color);
        text-align: left;
        font-size: 45px;
        margin-bottom: 35px;
        padding: 0px 50px 25px 42px;
        border-right: 3px solid;
        float: left;
        border-color: var(--forth-color);
        line-height: 21.5;
    }

    .grid-item {
        grid-column: span 8;
        border: 3px solid var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .grid-item-gitItDone {
        border: 3px solid var(--tertiary-color);
        background-image: url("../images/gitItDone.jpg");
        background-size: cover;
        grid-column: span 8;
    }

    .grid-item-week5Challenge {
        border: 3px solid var(--tertiary-color);
        background-image: url("../images/week5Challenge.jpg");
        background-size: cover;
        grid-column: span 8;
    }

    .grid-item-runBuddy {
        border: 3px solid var(--tertiary-color);
        background-image: url("../images/run-buddy.jpg");
        background-size: cover;
        grid-column: span 8;
    }

    .grid-container {
        display: grid;
        color: var(--forth-color);
        grid-gap: 105px;
    }

    .background {
        background: #c7d5d6;
        height: 1500px;
    }
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575 px */
    * {
        margin: 0;
    }

header h1 {
    font-size: 48px;
    float: left;
    width: 100%
    }
header h1 a {
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        width: 400px;
        color: var(--forth-color);
        text-align: right;
        height: 34px;
        position: absolute;
    }

.bio-grid {
        flex-wrap: wrap;
        color: var(--forth-color);
        text-align: left;
        width: 65%;
        font-size: 12px;
        padding: 40px 40px 0px 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(150px,1fr);
        grid-gap: 10px;
        padding: 20px 40px 0px 20px;
    }

.grid {
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(150px,1fr);
        grid-gap:10px;
        padding: 0px 70px 0px 20px;
    }

.grid-item img {
        height: 150px;
        width: 300px;
    }

.contact h2 {
        color: var(--forth-color);
        text-align: right;
        font-size: 45px;
        margin-bottom: 35px;
        padding: 0px 25px 25px 10px;
        border-right: 3px solid;
        float: left;
        border-color: var(--forth-color);
        line-height: .8
    }

.grid-container {
        display:grid;
        color: var(--forth-color);
        grid-gap: 80px;
        font-size: 17px;
        grid-template-columns: 40px 130px 0px 0px 0px;
    }

header h1 a {
        top: 20px;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        width: 200px;
        color: var(--forth-color);
        text-align: left;
        height: 34px;
        position: relative;
        bottom: 10px;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
 
    .header {
        background-color: var(--forth-color);
        height: 60px;
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    .header h1 {
        font-size: 48px;
        float: left;
    }

    .header h1 a {
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        width: 150px;
        color: var(--forth-color);
        text-align: left;
        height: 34px;
        position: relative;
        bottom: 10px;
    }

    .header nav {
        padding: 0px
    }

    .header nav ul li a {
    font-size: 12px;
    bottom: -10px
    }

    .bio h2 {
        color: var(--forth-color);
        text-align: right;
        border-right: 3px solid;
        float: left;
        border-color: var(--forth-color);
        line-height: 2.3;
    }

    .bio-grid {
        flex-wrap: wrap;
        color: var(--forth-color);
        text-align: left;
        width: 65%;
        font-size: 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(150px,1fr);
        grid-gap: 10px;
        padding: 10px 0px 0px 20px;
    }

    .work h2 {
        color: var(--forth-color);
        text-align: left;
        font-size: 27px;
        margin-bottom: 35px;
        padding: 0px 22px 25px 0px;
        border-right: 3px solid;
        float: left;
        border-color: var(--forth-color);
        line-height: 35.5;
    }   

    .grid-item img {
        height: 150px;
        width: 250px;
    }

    .contact h2 {
        color: var(--forth-color);
        text-align: right;
        font-size: 20px;
        margin-bottom: 35px;
        padding: 0px 25px 25px 10px;
        border-right: 3px solid;
        float: left;
        border-color: var(--forth-color);
        line-height: .8;
    }

    .grid-container {
        display: grid;
        color: var(--forth-color);
        grid-gap: 30px;
        font-size: 10px;
        grid-template-columns: 50px 110px 40px 40px 40px;
    }
}